<header>
  <div class="container">
    <div class="site-title">
      <a href="/"><h1>Central Illinois State Parks Guide</h1></a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/sites/add-site">Add Site</a></li>
      </ul>
    </nav>
  </div>
</header>