<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header-subpages.ejs') %>
  <main>
    <article class="content about">
      <p>Looks like you're lost...</p>
    </article>
  </main>
  <%- include('./partials/footer.ejs') %>

</body>
</html>