<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header-subpages.ejs') %>
  <main>
    <article class="content signup">
      <h2 class="page-title">Sign Up</h2>
    </article>
  </main>
  <%- include('./partials/footer.ejs') %>

</body>
</html>