.btn {
  display: inline-block;
  background-color: $cloud;
  padding: 10px 20px 8px;
  color: $black;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color .5s linear;

  &:hover {
    background-color: $silverchalice;
  }

  &.primary {
    background-color: $primarylink;
    color: $white;

    &:hover {
      background-color: $primarylinkhover;
    }
  }

}