footer {
  background-color: $primary;
  color: #fff;
  padding: 15px;

  .container {
    display: block;
    text-align: center;
  }

  .attribution {
    font-size: 11px;
  }

  a {
    color: $accent;
  }
}