.map {
  position: relative;
  border-top: 40px solid #0d1a0f;
}

.find-park-badge {
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0d1a0f;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  z-index: 900;
  border: 5px solid #224127;

  h2 {
    font-family: 'Overlock SC', cursive;
    text-transform: uppercase;
    font-weight: 700;
    color: #d3a818;
    text-align: center;
    line-height: 32px;
    font-size: 36px;
    width: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
  }
}