
.band {
  position: relative;
  background-color: #0d1a0f;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23224127' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  height: 40px;
  width: 100%;
}

.find-park-badge {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0d1a0f;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  z-index: 900;
  border: 5px solid #224127;

  h2 {
    font-family: 'Overlock SC', cursive;
    text-transform: uppercase;
    font-weight: 700;
    color: #d3a818;
    text-align: center;
    line-height: 32px;
    font-size: 36px;
    width: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
  }
}